name: 'Deploy OpenTelemetry'
on:
  push:
    branches: main
    paths:
      - .github/workflows/**
jobs:
  deploy:
    runs-on: ubuntu-latest
    concurrency:
      group: otel-deploy-job
    steps:
      - uses: plengauer/Thoth/actions/instrument/deploy@4f9af779bc9c3b4e66bbe80de4afe772e80a797d
        with:
          github_token: '${{ secrets.DEPLOY_OBSERVABILITY_TOKEN }}' # TODO configure a token that has permissions to push contents and open pull requests
          job_level_instrumentation_secret_redaction_strategy: list
        env:
          OTEL_EXPORTER_OTLP_ENDPOINT: http://20.98.23.161:8080
